:root{
    --firstcolor: #E5E3C9;
    --secondcolor: #B4CFB0;
    --thirdcolor: #94B49F;
    --fourthcolor: #789395;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--firstcolor);
    overflow: hidden;
}

.contents{
    background-color: var(--thirdcolor);
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    border-radius: 50px;
    perspective: 1500;
}

.card{
    position:relative;
    top: 75vh;
    left: 2vw;
    width: 400px;
    height: 580px;
    border-radius: 10px;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    margin: 0 !important;
    z-index: 1;
}

.mypic{
    position: inherit;
    top: 105px;
    left: 47px;
    z-index: -1;
}

.mypic img{
    width: 305px;
}

.front{
    background-image: url(Img/monster-normal.png);
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 400px;
    height: 580px;
    border-radius: 10px;
    z-index: 0;
    visibility: hidden;
    overflow: hidden;
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

#back{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 580px;
    border-radius: 8px;
    z-index: -2;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
}


#cardTitle{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
    position: relative;
    left: 30px;
    top: 30px;
}
/* star levels */
#starLevel {
    position: relative;
    width: 22px;
    left: 335px;
    top: 40px;
}
#starLevel2 {
    position: relative;
    width: 22px;
    left: 285px;
    top: 40px;
}
#starLevel3 {
    position: relative;
    width: 22px;
    left: 235px;
    top: 40px;
}
#starLevel4 {
    position: relative;
    width: 22px;
    left: 185px;
    top: 40px;
}
#starLevel5 {
    position: relative;
    width: 22px;
    left: 135px;
    top: 40px;
}
#starLevel6 {
    position: relative;
    width: 22px;
    left: 85px;
    top: 40px;
}
#starLevel7 {
    position: relative;
    width: 22px;
    left: 35px;
    top: 40px;
}
#starLevel8 {
    position: relative;
    width: 22px;
    left: -15px;
    top: 40px;
}
#starLevel9 {
    position: relative;
    width: 22px;
    left: -65px;
    top: 40px;
}
#starLevel10 {
    position: relative;
    width: 22px;
    left: -115px;
    top: 40px;
}
#starLevel11 {
    position: relative;
    width: 22px;
    left: -165px;
    top: 40px;
}
#starLevel12 {
    position: relative;
    width: 22px;
    left: -215px;
    top: 40px;
    visibility: hidden;
}
#cardType {
    position: relative;
    width: 25px;
    left: 32px;
    top: 5px;
}
#monsterType {
    position: relative;
    left: 30px;
    top: 380px;
}
#monsterDescription {
    position: relative;
    left: 35px;
    top: 382px;
    font-size: 12px;
    max-width: 335px;
    font-style: italic;
}
#monsterAtk {
    position: relative;
    left: 262px;
    bottom: -392px;
    font-size: 14px;
    max-width: 335px;
    font-weight: bold;
}
#monsterDef {
    position: relative;
    left: 342px;
    bottom: -376px;
    font-size: 14px;
    max-width: 335px;
    font-weight: bold;
}

.portfolio{
    position: absolute;
    width: 92%;
    height: 80%;
    top: 10vh;
    left: 3vw;
}

.gallery-cell {
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.gallery{
    height: 95%;
    width: 50%;
    left: 0;
    top: 0;
}

/*photo gallery*/
#photos{
    position: inherit;
    width: 50%;
    height: 100%;
    left: 52%;
    top: 0%;
    line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:3;
   column-gap:5px;
   -ms-overflow-style: none; 
   scrollbar-width: none;
   overflow-y: scroll;
   scroll-behavior: smooth;
}

#photos::-webkit-scrollbar {
    display: none; 
}

#photos img{
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    filter: grayscale(100%);
    transition: 1s;
}

#photos img:hover{
    filter: none;
}

/*@media (max-width: 1200px) {
    #photos {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
}*/

#shadowbox{
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 400ms linear;
}

.display {
    opacity: 1;
    visibility: visible;
}

#darkbox { 
    width:1280px; 
    height:720px; 
    position:absolute; 
    top:0; 
    left:0; 
    background-color:#333; 
    overflow: hidden; 
    text-align:center;
}
.darkboximg { 
    padding:5%; 
    max-width: 1216px; 
    max-height: 684px; 
}